body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
}

.calculator {
    height: auto;
    border-radius: 1rem;
    border: 1px solid lightgreen;
}

.calculator input {
    outline: none;
    border: none;
    box-shadow: none;
    padding-right: 1.5rem !important;
}


.bg-dark {
    background-color: black !important;
}

.first-row {
    min-height: 10vh;
}

.second-row {
    min-height: 50vh;
}

.h-90 {
    height: 90%;
}

.bg-blue {
    background-color: rgb(32, 31, 34);
    color:yellowgreen;
    border-radius: 1rem;
}
.button-container >*{
    padding: 1rem;
}
.w-30{
    width: 30% !important;
}
@media screen and (max-width: 1236px) {
    .button-container > * {
        font-size: 1.3rem !important;
    }
}
@media screen and (max-width: 1093px) {
    .button-container > * {
        font-size: 1.2rem !important;
    }
    .w-30{
    width: 40% !important;
}
}
@media screen and (max-width: 768px) {
    .button-container > * {
        font-size: 1.2rem !important;
    }
    .w-30{
    width: 50% !important;
}
}
@media screen and (max-width: 602px) {
    .button-container > * {
        font-size: 1.2rem !important;
    }
    .w-30{
    width: 70% !important;
}
}
@media screen and (max-width: 447px) {
    .button-container > * {
        font-size: 1.5rem !important;
    }
    .w-30{
    width: 95% !important;
}
}
@media screen and (max-width: 330px) {
    .button-container > * {
        font-size: 1.2rem !important;
    }
    .w-30{
    width: 95% !important;
}
}